

<!-- usando simple form -->
<%= simple_form_for(@pin, html: {multipart: true, class: ''}) do |f| %>
    <%= render 'shared/errors', object: @pin %>
   <div class="panel panel-warning">
    <div class="panel-heading">
      Selecciona imagenes
    </div>
    <div class="panel-body">
      <% unless @pin.galleries.empty? %>
        <% @pin.galleries.each do |p| %>
        <div class="row">
          <div class="col-xs-6 col-md-3 text-center">
            <%= image_tag p.photo.url(:thumb), class: "thumbnail margin-auto" %>
            <%= link_to 'eliminar', p, method: :delete, data: {confirm: "Estas seguro?"}, class: "" %>
          </div>
        </div>
        <% end %>
      <% end %>
      <% @image_count.times do |i| %>
        <div class="row">
          <div class="col-xs-6 col-md-12">
            <%= f.input "photo_#{i}", as: :file, label: false, input_html: {class: "thumbnail"} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>



  <%= f.input :title, input_html: {class: 'form-control'}, label: false, placeholder: 'Modelo', error: 'Obligatorio', required: true, maxlength: 60 %>
  <br>
  <%= f.input :desc, label: false, placeholder: 'Descripcion', required: true, maxlength: 600 %>
  <%= f.input :km, input_html: {min: 0, max: 900000}, required: true, label: false, placeholder: 'Kilometraje' %>
  <%= f.input :year, collection: 1900..(Date.today.year + 1), required: true, label: false, prompt: 'Año' %>

  <div class="input-group">
    <span class="input-group-addon">$</span>
    <%= f.input :price, required: true, label: false, class: "rounded round", placeholder: 'Precio', input_html: {min: 0, max: 9000000} %>
  </div> <br>




  <%= f.input :doors, required: true, label: false, placeholder: 'Puertas', input_html: {min: 2, max: 9} %>
  <%= f.input :color, required: true, label: false, placeholder: 'Color' %>
  <%= f.input :gasoline, required: true, label: false, prompt: 'Tipo de gasolina', collection: Pin::Gasoline %>
  <%= f.input :transmission, required: true, label: false, placeholder: 'Tipo de transmisión' %>
  <%= f.input :brand_id, collection: @brands, required: true, label: false, prompt: 'Marca' %>

  <%= f.input :air, label: "¿Aire acondicionado?" %>
  <%= f.input :ambiental_verification, label: "¿Verificación ambiental?" %>
  <%= f.input :tenencias_pagadas, label: "¿Todas las tenencias pagadas?" %>
  
  <%= f.input :state_id, collection: @states, required: true, label: false, prompt: 'Estado' %>
  <%= f.input :city, required: true, label: false, placeholder: 'Ciudad' %>
  <%= f.input :phone, required: true, label: false, placeholder: 'Teléfono de contacto', input_html: {min: 0, max: 9999999999} %>

  <%= recaptcha_tags %>
  <%= f.button :submit, 'Guardar', class: 'btn btn-primary' %>

<% end %>

