<div class="row">
	<div class="col-md-12">
		
		<div class="col-md-6 col-sm-12 slide">
			<% if @pin.galleries %>
				<% @pin.galleries.each do |p| %>
					<div>
						<%= image_tag(p.photo.url(:large)) %>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-6 col-sm-12" style="background: grey;">
			<h1><%= @pin.title %></h1>
			<p class="price"><%= number_to_currency @pin.price %></p>
			<p class="description"><%= @pin.desc %></p>
			<div class="actions">
				<a href="#" class="btn btn-default">ver numero telefonico</a>
				<a href="#" class="btn btn-default">anadir a favoritos</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6" id="post_<%= @pin.id %>_likes">
		<%= render 'cars/likes', pin: @pin %>
	</div>
	<div class="col-md-6">
		<%= render 'shared/social_buttons', url: pin_url(@pin) %>
	</div>
</div>


<p>By: <%= @pin.user.email %></p>

<% if user_signed_in? %>
	<p>
		
		<%= number_to_phone @pin.phone %>
	</p>
<% end %>

<% if its_mine? @pin %>
	<%= link_to 'Edit', edit_pin_path(@pin) %> |
<% end %>



<script type="text/javascript">
	$(document).ready(function(){
      $('.slide').slick({
      	arrows: false,
        dots: true,
			  speed: 500,
			  fade: true,
			  cssEase: 'linear'
      });
    });
</script>
