<div class="row">
		<% @cars.each do |car| %>
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<div class="img-container">
						<% unless car.galleries.blank? %>
							<a href="<%= pin_path(car) %>">
								<%= image_tag car.galleries.first.photo.url(:large) %>
							</a>
						<% else %>
							<a href="<%= pin_path(car) %>">
								<%= image_tag 'no-car.svg' %>
							</a>
						<% end %>
					</div>
					<div class="caption">
				    <%= link_to pin_path(car) do %>
					    <h3><%= car.title.truncate(20) %></h3>
				    <% end %>
						<h4><%= number_to_currency(car.price) %></h4>
						<span class="label label-default"><%= car.brand.title %></span>
						<span class="label label-default"><%= car.year %></span>
						<!-- <span class="label label-default"><%= number_with_delimiter car.km %> Km</span> -->
						<span class="label label-default"><%= car.state.title %></span>
					</div>
				</div>
			</div>
		<% end %>
		
	</div>