<div class="mycars">
	<% @cars.each do |car| %>
			<div class="media">
				<a href="<%= pin_path(car) %>">
			    <% if car.galleries.blank? %>
			    	<div class="media-left">
				    	<%= image_tag 'no-car.svg', size: "100", class: "media-object" %>
						</div>
				    <div class="media-body">
							<h4><%= car.title %></h4>
							<p><%= car.desc.truncate(120) %></p>
						</div>
					<% else %>
							<div class="media-left">
									<%= image_tag(car.galleries.first.photo.url(:thumb), class: "media-object") %>
							</div>
							<div class="media-body">
								<h4 class="media-heading"><%= car.title %></h4>
								<p><%= car.desc.truncate(120) %></p>
							</div>
					<% end %>
				</a>
			</div>
	<% end %>
</div>
<div class="row">
		<div class="col-md-12 text-center">
			<nav>
				<%= will_paginate @cars %>
			</nav>
		</div>	
</div>
