<nav class="navbar principal">
	<div class="container">
		<div class="navbar-brand">
			<a href="/index" class="navbar-brand">
				<%= image_tag('logo-nav.svg') %>
			</a>
		</div>



		<% if user_signed_in? %>
			<ul class="nav navbar-nav navbar-right" id="list">
				<li>
					<%= link_to 'Vender', new_pin_path, id: "link" %>
				</li>
				<li>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Mi cuenta" id="link">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="dropdown-header"><%= current_user.email %></li>
            <li>
	            <%= link_to 'Mis autos', my_cars_path %>
            </li>
						<li>
							<%= link_to 'Mis favoritos', likes_path %>
						</li>
						<li><%= link_to 'Mi perfil', store_path(current_user.id) %></li>
						
            <li role="separator" class="divider"></li>
            <li>
            	<%= link_to 'Salir', destroy_user_session_path, method: :delete %>
            </li>
          </ul>
				</li>
				<%= search_form_for(@q, url: index_path, html:{class: "navbar-form navbar-left", role: "search"}) do |f| %>
					<div class="input-group form-group">
						<%= f.search_field :title_or_brand_title_or_state_title_cont, placeholder: '', class: "form-control	" %>
						<span class="input-group-btn">
							<%= f.submit 'buscar', class: "btn btn-default" %>
			      </span>
					</div>
				<% end %>
				<li><a href="" id="link" data-toggle="modal" data-target="#filter_modal" title="Busqueda avanzada"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
				</li>
				
			</ul>
		<% else %>
			<ul class="nav navbar-nav navbar-right not-signed">
				<li>
					<%= link_to 'Registro', new_user_registration_path %>
				</li>
				<li>
					<%= link_to 'Entrar', new_user_session_path %>
				</li>
				<%= search_form_for(@q, url: index_path, html:{class: "navbar-form navbar-left", role: "search"}) do |f| %>
					<div class="input-group form-group">
						<%= f.search_field :title_or_brand_title_or_state_title_cont, placeholder: '', class: "form-control	" %>
						<span class="input-group-btn">
							<%= f.submit 'buscar', class: "btn btn-default" %>
			      </span>
					</div>
				<% end %>
				<li><a href="" id="link" data-toggle="modal" data-target="#filter_modal" title="Busqueda avanzada"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
				</li>
			</ul>
		<% end %>
	</div>
</nav>
<%= render 'shared/search_modal' %>