<!DOCTYPE html>
<html>
<head>
  <title>OnePx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/nav_2' %>

<div class="container">
	<% flash.each do |name, msg| %>
		<div class="alert alert-info alert-dismissible">
			<%= msg %>
		</div>
	<% end %>
	
	<%= yield %>
</div>


</body>
</html>
